:root {
  /* Color Palette */
  --palette-light-red: #FF6B6B;
  --palette-charcoal-blue: #2D3E50;
  --palette-sky-blue: #74C6D4;
  --palette-platinum: #DADADA;
  --palette-sea-salt: #F9F9F9;
  --palette-dark-blue: #1B252F;

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--palette-dark-blue);
  color: var(--palette-sea-salt);
}

#page-wrapper {
  width: 100%;
  height: 100%;
}

nav {
  width: calc(100% - 200px);
  height: 75px;
  background-color: var(--palette-charcoal-blue);
  padding: 30px 100px;
}

#nav-logo {
  width: 90px;
  height: 75px;
}

.nav-link {
  font-size: 30px;
  float: right;
  margin-left: 20px;
}


